html {
  height: 100%;
}

body {
  position: relative;

  min-height: 100%;
  margin: 0;

  background-color: #e6f0fa;
}

.header {
  position: fixed;
  top: 0;
  z-index: 2;

  width: 100%;

  border-bottom: solid black;

  background-color: white;
  color: black;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 32px;
  text-align: center;
}

.main {
  box-sizing: border-box;
  height: auto;
  padding: 125px 0 200px;
}

.header-text {
  margin: 20px 0;

  font-size: 60px;
}

.header-text:first-letter {
  color: red;
}

/* Items List */

.items-list {
  display: flex;
  flex-direction: column;

  padding: 15px 25px;
}

.items-list > .item {
  display: block;

  overflow: hidden;

  margin-bottom: 30px;

  border-radius: 4%;

  background-color: white;

  box-shadow: 0 4px 6px rgba(26, 65, 101, 0.15);
}

.items-list > .item > .item-image-wrapper > .item-image {
  width: 100%;

  /*object-fit: cover;*/
}

.items-list > .item > .item-info {
  margin: 30px;
}

.items-list > .item > .item-long-description {
  display: none;
}

.items-list > .item > .item-horizontal-line {
  display: none;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  z-index: 1;

  width: 100%;
  height: 210px;

  border-top: solid black;

  background-color: white;

  font-family: Arial, sans-serif;
  font-size: 28px;
}

.footer-links {
  display: inline-block;

  margin: 20px 10px;

  color: grey;
}

.footer-link-url,
.footer-link-url:visited {
  color: #4c4cd8;
  text-decoration: none;
}

.footer-link-email-image {
  display: none;

  height: 1em;
}

.footer-links > .footer-link-email-image:first-child {
  display: none;
}

.footer-links > .footer-link > .footer-link-email-image {
  display: inline-block;
}

.footer-copyright {
  display: block;

  margin: 0 10px;
}

.footer-text-dot {
  display: none;
}

/* Media */

@media screen and (min-width: 730px) {
  .items-list {
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 325px);
  }

  .items-list > .item > .item-image-wrapper {
    height: 300px;
  }

  .items-list > .item > .item-image-wrapper > .item-image {
    height: 100%;

    object-fit: cover;
  }

  .items-list > .item > .item-horizontal-line {
    display: none;
  }

  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    height: 125px;

    font-size: 24px;
  }

  .footer-copyright {
    display: inline-block;

    margin: 20px 10px;
  }

  .footer-text {
    display: inline-block;
  }

  .footer-text-dot {
    display: none;
  }

  .footer-links > .footer-link > .footer-link-email-image {
    display: inline-block;
  }
}

@media screen and (min-width: 1201px) {
  .items-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .items-list > .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .items-list > .item > .item-image-wrapper {
    grid-column: 1;
    grid-row: 1;
  }

  .items-list > .item > .item-info {
    grid-column: 2;
    grid-row: 1;
  }

  .items-list > .item > .item-info > .item-short-description {
    display: block;
  }

  .items-list > .item > .item-long-description {
    display: block;

    grid-column: 1/3;
    grid-row: 2;

    padding: 20px;

    border-top: 2px solid;
  }
  .items-list > .item > .item-horizontal-line {
    display: block;
    grid-column: 1/2;
    grid-row: 2;
  }

  .footer {
    height: 60px;

    font-size: 18px;
  }

  .footer-links {
    display: flex;
  }

  .footer-link-email-image {
    margin-right: 10px;
  }

  .footer-text,
  .footer-text-dot,
  .footer-link-url {
    margin-right: 15px;
  }

  .footer-link-url:only-child {
    margin: 0;
  }

  .footer-links > .footer-link > .footer-link-email-image {
    display: none;
  }

  .footer-text-dot,
  .footer-links > .footer-link-email-image:first-child {
    display: inline-block;
  }
}
