html {
  height: 100%;
}

body {
  position: relative;

  min-height: 100%;
  margin: 0;

  background-color: #e6f0fa;
}

.header {
  position: fixed;
  top: 0;
  z-index: 6;

  width: 100%;

  border-bottom: solid black;

  background-color: white;
  color: black;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 32px;
  text-align: center;
}

main {
  box-sizing: border-box;
  height: auto;
  padding: 125px 0;
}

.header-text {
  margin: 20px 0;

  font-size: 32px;
}

.header-text-first-letter {
  color: red;
}

/* Slider */

.card {
  position: relative;

  display: block;

  border-radius: 8px;

  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.slider-label {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;

  cursor: pointer;
}

.slider-item-image {
  height: 100%;

  object-fit: cover;
}

.slider-item-name {
  position: absolute;
  top: 50%;
  left: 50%;

  display: none;

  transform: translate(-50%, -50%);

  color: white;
  font-size: 40px;
}

.slider {
  overflow: hidden;

  user-select: none;
}

.slider-holder {
  position: relative;
  left: 50%;

  display: inline-block;

  margin-top: 80px;

  transform: translateX(-50%);

  text-align: left;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: hidden;

  height: 400px;

  opacity: 0.7;
}

.bullets {
  z-index: 3;

  display: block;

  width: auto;
  height: 10px;
  margin-top: 48px;
  margin-bottom: 56px;

  text-align: center;
}

#slide-1:checked ~ .bullets .bullets-item--1,
#slide-2:checked ~ .bullets .bullets-item--2,
#slide-3:checked ~ .bullets .bullets-item--3,
#slide-4:checked ~ .bullets .bullets-item--4,
#slide-5:checked ~ .bullets .bullets-item--5 {
  background: #fff;
}

.bullets-item {
  display: inline-block;

  width: 10px;
  height: 10px;
  margin: 0 4px;

  border-radius: 6px;

  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.bullets-item:hover {
  background: #fff;
}

/* Modals */

.modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: none;

  width: 100%;
  height: 100%;
}

.modal-content,
.modal-backdrop {
  visibility: hidden;
  overflow: hidden;

  width: 0;
  height: 0;

  transition: opacity 0.2s ease-in;

  cursor: pointer;
  opacity: 0;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 20px;

  width: 25px;
  height: 25px;
  padding-top: 3px;

  color: white;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.modal-close:hover {
  color: #333;
}

#modal-toggle-1,
#modal-toggle-2,
#modal-toggle-3,
#modal-toggle-4,
#modal-toggle-5,
.slider-radio {
  display: none;
}

#modal-toggle-1:checked + .modal-content,
#modal-toggle-2:checked + .modal-content,
#modal-toggle-3:checked + .modal-content,
#modal-toggle-4:checked + .modal-content,
#modal-toggle-5:checked + .modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;

  visibility: visible;

  width: 1000px;
  height: 500px;
  padding: 10px 30px;

  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0);
  cursor: auto;
  opacity: 1;
}

#modal-toggle-1:checked + .modal-content + .modal-backdrop,
#modal-toggle-2:checked + .modal-content + .modal-backdrop,
#modal-toggle-3:checked + .modal-content + .modal-backdrop,
#modal-toggle-4:checked + .modal-content + .modal-backdrop,
#modal-toggle-5:checked + .modal-content + .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  visibility: visible;

  width: 100vw;
  height: 100vh;

  transition: opacity 0.2s ease-in;

  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
}

.modal-image-wrapper {
  display: inline-block;

  width: 700px;
  height: 100%;
}

.modal-image {
  position: relative;

  width: 100%;
  height: 100%;

  object-fit: contain;
}

.modal-info-wrapper {
  display: inline-block;

  width: 275px;
  height: 100%;

  vertical-align: top;
}

.modal-info {
  position: relative;
  top: 50%;

  margin: 15px 10px;

  transform: translateY(-50%);

  color: white;
}

.modal-info-name {
  margin-top: 0;

  font-size: 36px;
}

.modal-info-description {
  font-size: 16px;
}

/* Slider Checked */

#slide-1:checked ~ .slider-holder .slider-item--1:hover .slider-item-image,
#slide-2:checked ~ .slider-holder .slider-item--2:hover .slider-item-image,
#slide-3:checked ~ .slider-holder .slider-item--3:hover .slider-item-image,
#slide-4:checked ~ .slider-holder .slider-item--4:hover .slider-item-image,
#slide-5:checked ~ .slider-holder .slider-item--5:hover .slider-item-image {
  filter: brightness(50%);
}

#slide-1:checked ~ .slider-holder .slider-item--1:hover .slider-item-name,
#slide-2:checked ~ .slider-holder .slider-item--2:hover .slider-item-name,
#slide-3:checked ~ .slider-holder .slider-item--3:hover .slider-item-name,
#slide-4:checked ~ .slider-holder .slider-item--4:hover .slider-item-name,
#slide-5:checked ~ .slider-holder .slider-item--5:hover .slider-item-name {
  display: block;
}

#slide-1:checked ~ .slider-holder .slider-item--1:hover .modal-btn,
#slide-2:checked ~ .slider-holder .slider-item--2:hover .modal-btn,
#slide-3:checked ~ .slider-holder .slider-item--3:hover .modal-btn,
#slide-4:checked ~ .slider-holder .slider-item--4:hover .modal-btn,
#slide-5:checked ~ .slider-holder .slider-item--5:hover .modal-btn {
  display: block;

  cursor: pointer;
}

#slide-1:checked ~ .slider-holder .slider-item--1,
#slide-2:checked ~ .slider-holder .slider-item--2,
#slide-3:checked ~ .slider-holder .slider-item--3,
#slide-4:checked ~ .slider-holder .slider-item--4,
#slide-5:checked ~ .slider-holder .slider-item--5 {
  position: relative;

  transform: translate(0) scale(1);

  opacity: 1;
}

#slide-1:checked ~ .slider-holder .slider-item--2 {
  transform: translateX(700px) scale(0.8);
}

#slide-1:checked ~ .slider-holder .slider-item--3 {
  transform: translateX(1050px) scale(0.8);
}

#slide-1:checked ~ .slider-holder .slider-item--4 {
  transform: translateX(1700px) scale(0.8);
}

#slide-1:checked ~ .slider-holder .slider-item--5 {
  transform: translateX(2100px) scale(0.8);
}

#slide-2:checked ~ .slider-holder .slider-item--1 {
  transform: translateX(-650px) scale(0.8);
}

#slide-2:checked ~ .slider-holder .slider-item--3 {
  transform: translateX(370px) scale(0.8);
}

#slide-2:checked ~ .slider-holder .slider-item--4 {
  transform: translateX(1000px) scale(0.8);
}

#slide-2:checked ~ .slider-holder .slider-item--5 {
  transform: translateX(1380px) scale(0.8);
}

#slide-3:checked ~ .slider-holder .slider-item--1 {
  transform: translateX(-1000px) scale(0.8);
}

#slide-3:checked ~ .slider-holder .slider-item--2 {
  transform: translateX(-400px) scale(0.8);
}

#slide-3:checked ~ .slider-holder .slider-item--4 {
  transform: translateX(700px) scale(0.8);
}

#slide-3:checked ~ .slider-holder .slider-item--5 {
  transform: translateX(1075px) scale(0.8);
}

#slide-4:checked ~ .slider-holder .slider-item--1 {
  transform: translateX(-1675px) scale(0.8);
}

#slide-4:checked ~ .slider-holder .slider-item--2 {
  transform: translateX(-1050px) scale(0.8);
}

#slide-4:checked ~ .slider-holder .slider-item--3 {
  transform: translateX(-700px) scale(0.8);
}

#slide-4:checked ~ .slider-holder .slider-item--5 {
  transform: translateX(450px) scale(0.8);
}

#slide-5:checked ~ .slider-holder .slider-item--1 {
  transform: translateX(-2075px) scale(0.8);
}

#slide-5:checked ~ .slider-holder .slider-item--2 {
  transform: translateX(-1450px) scale(0.8);
}

#slide-5:checked ~ .slider-holder .slider-item--3 {
  transform: translateX(-1100px) scale(0.8);
}

#slide-5:checked ~ .slider-holder .slider-item--4 {
  transform: translateX(-450px) scale(0.8);
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  z-index: 5;

  width: 100%;
  height: 100px;

  border-top: solid black;

  background-color: white;

  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-links {
  display: inline-block;

  margin: 20px 10px;

  color: grey;
}

.footer-link {
  margin: 2px 0;
}

.footer-link-url,
.footer-link-url:visited {
  color: #4c4cd8;
  text-decoration: none;
}

.footer-link-email-image {
  height: 1em;
}

.footer-copyright {
  float: right;

  display: inline-block;

  margin: 60px 10px 0;
}
